<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>AboutMe</title>

</head>
<body>

    <%- include('partials/header')%>
    
    <div class="jumbotron text-center">
        <h1 class="display-4">Hi, Sachin here!!</h1>
        <p class="lead">I am 4th year UG at IIT Kanpur. I love running and watching sports</p>
        <hr class="my-4">
        <p>You can reach out to me here:</p>
    
        <ul>
            <li><a href="https://www.facebook.com/sachin.thakan/">Facebook</a></li>
            <li><a href="https://www.linkedin.com/in/sachin-thakan-7b9310173/">LinkedIn</a></li>

        </ul>

      </div>
  
</body>
</html>