<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <title>Homepage</title>
</head>
<body>

    <%- include('partials/header') %>

    <div class="card text-center">
        
        <div class="card-body">
            <form action="getMovies" method = "GET">
                <label><h2>Movie Search</h2></label>
                <br>
                <input type="text" name="movieName"  placeholder="enter movie name">
                <!-- <input type = "text" name ="password"> -->
                <button>Submit</button>
            </form>
        </div>
    </div>
   
</body>
</html>